<settings>

    <setting propertyKey="@Properties.BackgroundColor" title="@Strings.BackgroundColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0xBBBBBB">@Strings.ColorLightGray</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0x7777FF">@Strings.ColorBlue</listEntry>
            <listEntry value="0x77FF77">@Strings.ColorGreen</listEntry>
            <listEntry value="0xFF7777">@Strings.ColorRed</listEntry>
            <listEntry value="0xCCCCFF">@Strings.ColorLightBlue</listEntry>
            <listEntry value="0xCCFFCC">@Strings.ColorLightGreen</listEntry>
            <listEntry value="0xFFCCCC">@Strings.ColorLightRed</listEntry>
            <listEntry value="0xFFFF77">@Strings.ColorYellow</listEntry>
            <listEntry value="0xFFFFCC">@Strings.ColorLightYellow</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.HoursColor" title="@Strings.HoursColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0xBBBBBB">@Strings.ColorLightGray</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0x7777FF">@Strings.ColorBlue</listEntry>
            <listEntry value="0x77FF77">@Strings.ColorGreen</listEntry>
            <listEntry value="0xFF7777">@Strings.ColorRed</listEntry>
            <listEntry value="0xCCCCFF">@Strings.ColorLightBlue</listEntry>
            <listEntry value="0xCCFFCC">@Strings.ColorLightGreen</listEntry>
            <listEntry value="0xFFCCCC">@Strings.ColorLightRed</listEntry>
            <listEntry value="0xFFFF77">@Strings.ColorYellow</listEntry>
            <listEntry value="0xFFFFCC">@Strings.ColorLightYellow</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.MinutesColor" title="@Strings.MinutesColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0xBBBBBB">@Strings.ColorLightGray</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0x7777FF">@Strings.ColorBlue</listEntry>
            <listEntry value="0x77FF77">@Strings.ColorGreen</listEntry>
            <listEntry value="0xFF7777">@Strings.ColorRed</listEntry>
            <listEntry value="0xCCCCFF">@Strings.ColorLightBlue</listEntry>
            <listEntry value="0xCCFFCC">@Strings.ColorLightGreen</listEntry>
            <listEntry value="0xFFCCCC">@Strings.ColorLightRed</listEntry>
            <listEntry value="0xFFFF77">@Strings.ColorYellow</listEntry>
            <listEntry value="0xFFFFCC">@Strings.ColorLightYellow</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.DateColor" title="@Strings.DateColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0xBBBBBB">@Strings.ColorLightGray</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0x7777FF">@Strings.ColorBlue</listEntry>
            <listEntry value="0x77FF77">@Strings.ColorGreen</listEntry>
            <listEntry value="0xFF7777">@Strings.ColorRed</listEntry>
            <listEntry value="0xCCCCFF">@Strings.ColorLightBlue</listEntry>
            <listEntry value="0xCCFFCC">@Strings.ColorLightGreen</listEntry>
            <listEntry value="0xFFCCCC">@Strings.ColorLightRed</listEntry>
            <listEntry value="0xFFFF77">@Strings.ColorYellow</listEntry>
            <listEntry value="0xFFFFCC">@Strings.ColorLightYellow</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.BatteryColor" title="@Strings.BatteryColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0xBBBBBB">@Strings.ColorLightGray</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0x7777FF">@Strings.ColorBlue</listEntry>
            <listEntry value="0x77FF77">@Strings.ColorGreen</listEntry>
            <listEntry value="0xFF7777">@Strings.ColorRed</listEntry>
            <listEntry value="0xCCCCFF">@Strings.ColorLightBlue</listEntry>
            <listEntry value="0xCCFFCC">@Strings.ColorLightGreen</listEntry>
            <listEntry value="0xFFCCCC">@Strings.ColorLightRed</listEntry>
            <listEntry value="0xFFFF77">@Strings.ColorYellow</listEntry>
            <listEntry value="0xFFFFCC">@Strings.ColorLightYellow</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.BluetoothColor" title="@Strings.BluetoothColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0xBBBBBB">@Strings.ColorLightGray</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0x7777FF">@Strings.ColorBlue</listEntry>
            <listEntry value="0x77FF77">@Strings.ColorGreen</listEntry>
            <listEntry value="0xFF7777">@Strings.ColorRed</listEntry>
            <listEntry value="0xCCCCFF">@Strings.ColorLightBlue</listEntry>
            <listEntry value="0xCCFFCC">@Strings.ColorLightGreen</listEntry>
            <listEntry value="0xFFCCCC">@Strings.ColorLightRed</listEntry>
            <listEntry value="0xFFFF77">@Strings.ColorYellow</listEntry>
            <listEntry value="0xFFFFCC">@Strings.ColorLightYellow</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.DNDColor" title="@Strings.DNDColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0xBBBBBB">@Strings.ColorLightGray</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0x7777FF">@Strings.ColorBlue</listEntry>
            <listEntry value="0x77FF77">@Strings.ColorGreen</listEntry>
            <listEntry value="0xFF7777">@Strings.ColorRed</listEntry>
            <listEntry value="0xCCCCFF">@Strings.ColorLightBlue</listEntry>
            <listEntry value="0xCCFFCC">@Strings.ColorLightGreen</listEntry>
            <listEntry value="0xFFCCCC">@Strings.ColorLightRed</listEntry>
            <listEntry value="0xFFFF77">@Strings.ColorYellow</listEntry>
            <listEntry value="0xFFFFCC">@Strings.ColorLightYellow</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.AlarmsColor" title="@Strings.AlarmsColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0xBBBBBB">@Strings.ColorLightGray</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0x7777FF">@Strings.ColorBlue</listEntry>
            <listEntry value="0x77FF77">@Strings.ColorGreen</listEntry>
            <listEntry value="0xFF7777">@Strings.ColorRed</listEntry>
            <listEntry value="0xCCCCFF">@Strings.ColorLightBlue</listEntry>
            <listEntry value="0xCCFFCC">@Strings.ColorLightGreen</listEntry>
            <listEntry value="0xFFCCCC">@Strings.ColorLightRed</listEntry>
            <listEntry value="0xFFFF77">@Strings.ColorYellow</listEntry>
            <listEntry value="0xFFFFCC">@Strings.ColorLightYellow</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.NotificationsColor" title="@Strings.NotificationsColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0xBBBBBB">@Strings.ColorLightGray</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0x7777FF">@Strings.ColorBlue</listEntry>
            <listEntry value="0x77FF77">@Strings.ColorGreen</listEntry>
            <listEntry value="0xFF7777">@Strings.ColorRed</listEntry>
            <listEntry value="0xCCCCFF">@Strings.ColorLightBlue</listEntry>
            <listEntry value="0xCCFFCC">@Strings.ColorLightGreen</listEntry>
            <listEntry value="0xFFCCCC">@Strings.ColorLightRed</listEntry>
            <listEntry value="0xFFFF77">@Strings.ColorYellow</listEntry>
            <listEntry value="0xFFFFCC">@Strings.ColorLightYellow</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ActivityColor" title="@Strings.ActivityColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0xBBBBBB">@Strings.ColorLightGray</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0x7777FF">@Strings.ColorBlue</listEntry>
            <listEntry value="0x77FF77">@Strings.ColorGreen</listEntry>
            <listEntry value="0xFF7777">@Strings.ColorRed</listEntry>
            <listEntry value="0xCCCCFF">@Strings.ColorLightBlue</listEntry>
            <listEntry value="0xCCFFCC">@Strings.ColorLightGreen</listEntry>
            <listEntry value="0xFFCCCC">@Strings.ColorLightRed</listEntry>
            <listEntry value="0xFFFF77">@Strings.ColorYellow</listEntry>
            <listEntry value="0xFFFFCC">@Strings.ColorLightYellow</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ActivityProgressOutlineColor" title="@Strings.ActivityProgressOutlineColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0xBBBBBB">@Strings.ColorLightGray</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0x7777FF">@Strings.ColorBlue</listEntry>
            <listEntry value="0x77FF77">@Strings.ColorGreen</listEntry>
            <listEntry value="0xFF7777">@Strings.ColorRed</listEntry>
            <listEntry value="0xCCCCFF">@Strings.ColorLightBlue</listEntry>
            <listEntry value="0xCCFFCC">@Strings.ColorLightGreen</listEntry>
            <listEntry value="0xFFCCCC">@Strings.ColorLightRed</listEntry>
            <listEntry value="0xFFFF77">@Strings.ColorYellow</listEntry>
            <listEntry value="0xFFFFCC">@Strings.ColorLightYellow</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ActivityProgressColor" title="@Strings.ActivityProgressColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0xBBBBBB">@Strings.ColorLightGray</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0x7777FF">@Strings.ColorBlue</listEntry>
            <listEntry value="0x77FF77">@Strings.ColorGreen</listEntry>
            <listEntry value="0xFF7777">@Strings.ColorRed</listEntry>
            <listEntry value="0xCCCCFF">@Strings.ColorLightBlue</listEntry>
            <listEntry value="0xCCFFCC">@Strings.ColorLightGreen</listEntry>
            <listEntry value="0xFFCCCC">@Strings.ColorLightRed</listEntry>
            <listEntry value="0xFFFF77">@Strings.ColorYellow</listEntry>
            <listEntry value="0xFFFFCC">@Strings.ColorLightYellow</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ActivityGoalReachedColor" title="@Strings.ActivityGoalReachedColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0xBBBBBB">@Strings.ColorLightGray</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0x7777FF">@Strings.ColorBlue</listEntry>
            <listEntry value="0x77FF77">@Strings.ColorGreen</listEntry>
            <listEntry value="0xFF7777">@Strings.ColorRed</listEntry>
            <listEntry value="0xCCCCFF">@Strings.ColorLightBlue</listEntry>
            <listEntry value="0xCCFFCC">@Strings.ColorLightGreen</listEntry>
            <listEntry value="0xFFCCCC">@Strings.ColorLightRed</listEntry>
            <listEntry value="0xFFFF77">@Strings.ColorYellow</listEntry>
            <listEntry value="0xFFFFCC">@Strings.ColorLightYellow</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.PadWithLeadingZeroes" title="@Strings.PadWithLeadingZeroesTitle">
        <settingConfig type="boolean" />
    </setting>

</settings>
