<settings>

    <setting propertyKey="@Properties.TimeBackgroundColor" title="@Strings.TimeBackgroundColorTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>

    <setting propertyKey="@Properties.StatusBackgroundColor" title="@Strings.StatusBackgroundColorTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>

    <setting propertyKey="@Properties.DataBackgroundColor" title="@Strings.DataBackgroundColorTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>

    <setting propertyKey="@Properties.HoursColor" title="@Strings.HoursColorTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>

    <setting propertyKey="@Properties.MinutesColor" title="@Strings.MinutesColorTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>

    <setting propertyKey="@Properties.AMPMColor" title="@Strings.AMPMColorTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>

    <setting propertyKey="@Properties.DateColor" title="@Strings.DateColorTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>

    <setting propertyKey="@Properties.BatteryColor" title="@Strings.BatteryColorTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>

    <setting propertyKey="@Properties.BluetoothColor" title="@Strings.BluetoothColorTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>

    <setting propertyKey="@Properties.DNDColor" title="@Strings.DNDColorTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>

    <setting propertyKey="@Properties.AlarmsColor" title="@Strings.AlarmsColorTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>

    <setting propertyKey="@Properties.NotificationsColor" title="@Strings.NotificationsColorTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>

    <setting propertyKey="@Properties.HeartrateColor" title="@Strings.HeartrateColorTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>

    <setting propertyKey="@Properties.CaloriesColor" title="@Strings.CaloriesColorTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>

    <setting propertyKey="@Properties.StepsProgressOutlineColor" title="@Strings.StepsProgressOutlineColorTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>

    <setting propertyKey="@Properties.StepsProgressColor" title="@Strings.StepsProgressColorTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>

    <setting propertyKey="@Properties.StepsGoalReachedColor" title="@Strings.StepsGoalReachedColorTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>

    <setting propertyKey="@Properties.PadHoursWithLeadingZeroes" title="@Strings.PadHoursWithLeadingZeroesTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.PadMinutesWithLeadingZeroes" title="@Strings.PadMinutesWithLeadingZeroesTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.EnableMoveBar" title="@Strings.EnableMoveBarTitle">
        <settingConfig type="boolean" />
    </setting>

</settings>
